<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Company"
          label-for="company"
          :invalid-feedback="invalidFeedbackCompany"
          valid-feedback="สำเร็จ"
          :state="stateCompany"
        >
          <b-form-input id="Company" v-model="form.company" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Position"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          valid-feedback="สำเร็จ"
          :state="statePosition"
        >
          <b-form-input id="Position" v-model="form.position" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Jobtype"
          label-for="jobtype"
          :invalid-feedback="invalidFeedbackJobtype"
          valid-feedback="สำเร็จ"
          :state="stateJobtype"
        >
          <b-form-select v-model="form.jobtype" :options="options"></b-form-select>

        </b-form-group>
        <b-form-group
          label="Require"
          label-for="require"
          :invalid-feedback="invalidFeedbackRequire"
          valid-feedback="สำเร็จ"
          :state="stateRequire"
        >
          <b-form-input id="Require" v-model="form.require" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Province"
          label-for="province"
          :invalid-feedback="invalidFeedbackProvince"
          valid-feedback="สำเร็จ"
          :state="stateProvince"
        >
          <b-form-input id="Province" v-model="form.province" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Salary"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          valid-feedback="สำเร็จ"
          :state="stateSalary"
        >
          <b-form-input id="Salary" v-model="form.salary" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Description"
          label-for="description"
          :invalid-feedback="invalidFeedbackDescription"
          valid-feedback="สำเร็จ"
          :state="stateDescription"
        >
          <b-form-input id="Description" v-model="form.description" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
        <b-button variant="danger" @click="delUser(data.item)">View</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มการประกาศ',
      form: {
        _id: '',
        company: '',
        position: '',
        jobtype: null,
        require: '',
        province: '',
        salary: '',
        description: ''
      },
      userList: [],
      fields: [
        'id',
        'company',
        'position',
        'jobtype',
        'require',
        'operation'
      ],
      options: [
        { value: null, text: 'กรุณาเลือก' },
        { value: 'พนักงานประจำ', text: 'พนักงานประจำ' },
        { value: 'พนักงานพาร์ทไทม์', text: 'พนักงานพาร์ทไทม์' }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ ' + user.name + ' ' + user.company + 'หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/jobseeker/' + user._id)
              .then(res => {
                console.log(res)
                this.getJobseekers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        company: '',
        address: '',
        tel: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateCompany === false ||
        this.statePosition === false ||
        this.stateJobtype === false ||
        this.stateRequire === false ||
        this.stateProvince === false ||
        this.stateSalary === false ||
        this.stateDescription === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/jobseeker', this.form)
          .then(res => {
            console.log(res)
            this.getJobseekers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/jobseeker', this.form)
          .then(res => {
            console.log(res)
            this.getJobseekers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getJobseekers () {
      axios
        .get('http://localhost:3000/jobseeker')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateCompany () {
      return this.form.company.length >= 2
    },
    invalidFeedbackCompany () {
      if (this.form.company.length > 0) {
        return 'ชื่อบริษัทต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อบริษัท'
    },
    statePosition () {
      return this.form.position.length >= 2
    },
    invalidFeedbackPosition () {
      if (this.form.position.length > 0) {
        return 'ชื่อตำแหน่งต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกข้อมูล'
    },
    stateJobtype () {
      return this.form.jobtype !== null
    },
    invalidFeedbackJobtype () {
      if (this.form.jobtype === null) {
        return 'กรุณาเลือก'
      }
      return ''
    },
    stateRequire () {
      return this.form.require.length >= 1
    },
    invalidFeedbackRequire () {
      if (this.form.require <= 0) {
        return 'กรอกจำนวนที่ต้องการ'
      }
      return ''
    },
    stateProvince () {
      return this.form.province.length > 1
    },
    invalidFeedbackProvince () {
      if (this.form.province > 0) {
        return 'กรุณากรอกชื่อจังหวัด'
      }
      return ''
    },
    stateSalary () {
      return this.form.salary.length >= 3
    },
    invalidFeedbackSalary () {
      if (this.form.salary <= 0) {
        return ''
      }
      return ''
    },
    stateDescription () {
      return this.form.description.length >= 2
    },
    invalidFeedbackDescription () {
      if (this.form.description.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return ''
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getJobseekers()
  }
}
</script>
