<template>
  <b-container fluid>
    <b-row>
      <b-col><Header></Header></b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-container class="bv-example-row">
          <router-view></router-view>
        </b-container>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './Header.vue'
export default {
  components: {
    Header
  }
}
</script>
